body {
    padding-bottom: 40px;
    background-color: #EFFBD3;
}

.color-primary-0 { color: #9FC15B }	/* Main Primary color */
.color-primary-1 { color: #E2F4BE }
.color-primary-2 { color: #CAE791 }
.color-primary-3 { color: #789B30 }
.color-primary-4 { color: #51710F }

.navbar{
    background-color: #D1F083;
}
.jumbotron{
    background-color:#E0F6AB !important;
}
.workday, .table-hover>tbody>tr:hover>.workday{
    background-color:#8DB2C6;
}
.weekend, .table-hover>tbody>tr:hover>.weekend{
    background-color:#99DC79;
}
.holiday, .table-hover>tbody>tr:hover>.holiday{
    background-color:#FFA08C;
}
.currentday, .table-hover>tbody>tr:hover>.currentday{
    background-color:#5C8AA2;
}
.old, .table-hover>tbody>tr:hover>.old{
    background-color:#C2D9E5;
}

.table-hover>tbody>tr>td:hover, .table-hover>tbody>tr:hover>th, .selected{
    background-color: #3C6F8A !important;
    color:#eeeeee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alert{
    margin-top:20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}