<div class="container">
    <table class="table table-hover table-bordered">
        <thead class="bg-primary">
            <tr>
                <th style="width:104px;">Monday</th>
                <th style="width:104px;">Tuesday</th>
                <th style="width:104px;">Wednesday</th>
                <th style="width:104px;">Thursday</th>
                <th style="width:104px;">Friday</th>
                <th style="width:104px;">Saturday</th>
                <th style="width:104px;">Sunday</th>
            </tr>
        </thead>
        <tbody>
        @for(i <- 0 to 4) {
            <tr>
            @for(j <- 0 to 6) {
                @defining(i*7+j){ k =>
                    <td class="@controllers.RosterCalendar.getClassColor(k)">
                    <h3>@controllers.RosterCalendar.getDay(k)</h3>
                    <br>
                    @controllers.RosterCalendar.getWorker(k)
                    </td>
                }
            }
            </tr>
        }
        </tbody>
    </table>
</div>