@(users: List[User])

@main {
    <div class="panel panel-default">

    <table class="table table-bordered table-hover table-responsive">
        <thead class="panel-heading bg-primary">
            <tr>
                <th width="45">ID</th>
                <th>Login</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th width="85">Confirmed</th>
            </tr>
        </thead>
        <tbody class="panel-body">
        @for(p <- users) {
            <tr>
                <td>@p.id</td>
                <td>@p.name</td>
                <td>@if(p.worker!=null){@p.worker.firstName}</td>
                <td>@if(p.worker!=null){@p.worker.lastName}</td>
                <td>@if(p.worker!=null){@p.worker.email}</td>
                <td @if(!Workers.confirmed(p) && p.worker!=null){
                    class="danger"
                } else {
                    @if(Workers.confirmed(p)) { class="success"}
                }>@if(p.worker!=null){@p.worker.confirmed}
                    @if(p.worker!=null) {
                        @if(!p.worker.confirmed){
                            <a href="/confirm?id=@p.id">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        } else {
                            <a href="/unConfirm?id=@p.id">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        }
                    }</td>
            </tr>
        }
        </tbody>
    </table>
    </div>
}